.marginTop{
    margin-top: 10%;
}

.marginBot{
    margin-bottom: 5%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after, .slick-track:before {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}


 label, input, p{
    font-family: Futura, sans-serif !important;
    font-size: 18px !important;
    font-weight: 300 !important;
}

.h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px !important;
    font-weight: 200 !important;
}

.h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
    font-weight: 300;
}

.h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px !important;
}

.mgt-16 {
    margin-top: 16px !important;
}

.mgd-16 {
    margin-bottom: 16px !important;
}

.f100 {
    width: 100% !important;
}

/* General */
.logo-size {
    width: 180px;
    height: 45px;
}

.logo {
    font-weight: 500 !important;
}

.text-warning {
    color: #ede861 !important;
}

.text-muted {
    color: #bcbcbc !important;
}

.text-success {
    color: #59ab6e !important;
}

.text-light {
    color: #cfd6e1 !important;
}

.bg-dark {
    background-color: #212934 !important;
}

.bg-light {
    background-color: #e9eef5 !important;
}

.bg-black {
    background-color: #1d242d !important;
}

.bg-success {
    background-color: #59ab6e !important;
}

.btn-success {
    background-color: #59ab6e !important;
    border-color: #56ae6c !important;
}

.pagination .page-link:hover {
    color: #000;
}

.pagination .page-link:hover, .pagination .page-link.active {
    background-color: #69bb7e;
    color: #fff;
}

/* Nav */
.navbar.nav-light {
    background: #fff !important;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }

.container-navbar {
    background: inherit;

}

.padding-notify {
    margin-right: auto !important;
    padding-left: 15px !important;
}

.padding-cart {
    margin-left: auto !important;
    margin-right: 0 !important;
    padding-right: 15px !important;
}

p.content{
    text-align: justify;
}

.navbar.header {
    height: 60px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}


.nav-parent{
    position: relative;

}

.nav-child{
    position: absolute;
    border: none;
    box-shadow: 2px 5px 3px 0px #c0c0c0;
    border-radius: 0;
    left: 0;
    z-index: 1000;
    top: 40px;

}

.nav-parent:hover >.nav-child{
    display: block;
}

.nav-parent:hover >.nav-child>li:hover{
    border: 2px #f2e1e1;
    border-style: solid;
}

.nav-parent:hover >.nav-child>li:hover>a{
    color: inherit;
}

.container.my-nav{
    height: 54px;
}

.user-header{
    background: inherit;
    padding-left: 51px;
    margin: 0px !important;
}

#templatemo_nav_top {
    min-height: 40px;
}

#templatemo_nav_top * {
    font-size: .9em !important;
}

#templatemo_main_nav a {
    color: #212934;
}

#templatemo_main_nav a:hover {
    color: #000bff;
    background: #ccc;
}

#templatemo_main_nav .navbar .nav-icon {
    margin-right: 20px;
}

.bg-cart-light {
    background-color: #e9eef500 !important;
    color: #d4374dc9 !important;
}

#template-mo-zay-hero-carousel {
    background: #efefef !important;
}

.templatemo-accordion a {
    color: #000;
}

.templatemo-accordion a:hover {
    color: #ff2424;
}

@media (max-width: 768px) {
    .shopping-cart-footer>.column {
        display: block;
        width: 100%
    }
    .shopping-cart-footer>.column:last-child {
        text-align: center
    }
    .shopping-cart-footer>.column .btn {
        width: 100%;
        margin: 12px 0 !important
    }
}

.ShopPage .modal-dialog {
    max-width: 1200px;
}
  
.loading{
    padding: 150px;;
}

.carousel-item{
    background-color: rgba(255, 255, 255, 0) !important;
}

.home-icon{
    color: #0da9ef;
    font-size: 2.5rem;
    padding-bottom: 5px;
}
.payment{
    text-align: center;
}

.name-category:hover{
    text-decoration: none;
    background-color: #000;
}